.header {
  background-color: #008b8b;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  height: 70px;
}

.header__logo {
  height: 50px;
}

.header__titulo {
  color: white;
  font-size: 24px;
  margin: 0;
}
