<div class="dashboard">
  <h2 class="dashboard__titulo">Menú principal</h2>

  <div class="dashboard__botones">
      <button
        type="button"
        class="dashboard__boton dashboard__boton"
        [routerLink]="['/reservar-box']"
      >
        Reservar Box
      </button>
    <button class="dashboard__boton">Consultar Agenda</button>
    <button
        type="button"
        class="dashboard__boton dashboard__boton"
        [routerLink]="['/ver-reportes']"
      >
        Ver Reporte
      </button>
  </div>
</div>