<div class="login">
  <h2 class="login__titulo">Iniciar sesión</h2>

  <form class="login__form">
    <label for="correo" class="login__label">Correo electrónico</label>
    <input
      type="email"
      id="correo"
      class="login__input"
      placeholder="ejemplo@redsalud.cl"
    />

    <label for="contrasena" class="login__label">Contraseña</label>
    <input
      type="password"
      id="contrasena"
      class="login__input"
      placeholder="Contraseña"
    />

    
      <a
        type="routerLink"
        class="login_routerLink login_link"
        [routerLink]="['/recuperar']"
      >
        ¿Olvidó su contraseña?
      </a>

    <div class="login__botones">
      <button
        type="button"
        class="login_boton login_boton--registro"
        [routerLink]="['/registro']"
      >
        Registrarse
      </button>

    <button
        type="button"
        class="login_boton login_boton--iniciar"
        [routerLink]="['/dashboard']"
      >
        Iniciar sesión
      </button>
    </div>
  </form>
 </div>