<div class="forgot">
  <h2 class="forgot__titulo">Recuperar contraseña</h2>

  <form class="forgot__form">
    <label for="correo" class="forgot__label">Correo electrónico</label>
    <input
      type="email"
      id="correo"
      class="forgot__input"
      placeholder="ejemplo@redsalud.cl"
    />

    <button type="submit" class="forgot__boton">Enviar instrucciones</button>
  </form>


        <a
        type="routerLink"
        class="forgot__volver forgot__volver"
        [routerLink]="['']"
      >
        ← Volver al inicio
      </a>

</div>