<div class="forgot">
  <h2 class="forgot__titulo">Recuperar contraseña</h2>

  <form class="forgot__form" (ngSubmit)="enviarInstrucciones()">
    <label for="correo" class="forgot__label">Correo electrónico</label>
    <input
      type="email"
      id="correo"
      class="forgot__input"
      placeholder="ejemplo@redsalud.cl"
      [(ngModel)]="correo"
      name="correo"
      required
    />

    <button type="submit" class="forgot__boton">Enviar instrucciones</button>
  </form>

  <div *ngIf="mensaje" class="forgot__mensaje">
    {{ mensaje }}
  </div>

  <a
    type="routerLink"
    class="forgot__volver forgot__volver"
    [routerLink]="['']"
  >
    ← Volver al inicio
  </a>
</div>